<.simple_form for={@form} phx-submit="save" phx-change="edit">
  <.input name="query" value="" id={@query_id} label="Enter your question" />
</.simple_form>
<br />
<br />

<%= @headers |> Enum.join(", ") %>
<.table id="rows" rows={@rows}>
  <:col :let={row} label={row_string(@rows)}><%= row %></:col>
</.table>
