<.simple_form for={@form} phx-submit="send_query">
  <div class="relative">
    <.input name="query" value="" id={@query_id} label="Enter your question" />
    <div class="absolute right-2 top-9 opacity-0 phx-submit-loading:opacity-100">
      <.spinner />
    </div>
  </div>
</.simple_form>

<%= if length(@nlp_query.errors) > 0 do %>
  <p>
    There are {length(@nlp_query.errors)} errors in the data, you can autofix them.
  </p>
  <br />
  <.button phx-click="autofix" phx-value="autofix" class="btn btn-primary">Autofix</.button>
  <br />
<% end %>

<.dynamic_table id="rows" rows={@rows} cols={@nlp_query.headers}></.dynamic_table>
